[flake8]
exclude =
    build,
    hooks/post_gen_project.py,
builtins = cookiecutter
max-line-length = 79
# Ignore some style 'errors' produced while formatting by 'black' (see link below)
# https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#labels-why-pycodestyle-warnings
extend-ignore = E203
